[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
opencv-python = "*"

[dev-packages]
flake8 = "*"
isort = "*"
blue = "*"
pytest = "*"
mypy = "*"
pytest-mock = "*"
opencv-stubs = {extras = ["opencv"], version = "*"}

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
